*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Poppins;
}

span{
    color: #8892b0;
}

.container{
    display: flex;
    flex-direction: column;
}
.container .navigation{
    height: 80px;
    width: 100vw;
    background-color: #112240;
    position: fixed;
}

.container .navigation nav .right{
    float: right;
    line-height: 80px;
}
.container .navigation nav .right li a{
    margin-right: 50px;
    text-align: center;
    transition: all 0.2s;

}
.container .navigation nav .logo{
    float: left;
    line-height: 80px;
    padding: 0 50px;
    font-size: 2.5em;
    font-weight: bold;
}

.container .navigation nav ul li{
    display: inline-block;
    justify-content: space-between;
}

.container .navigation nav ul li a{
    color: azure;
}

.container .navigation nav .right li a:hover{
    color: red;
    font-weight: bolder;
    font-size: 1.2em;
}

.container .navigation nav .right li a::after{
    color: antiquewhite;
}
.container .main{
   margin-top: 80px;
   overflow-y: hidden;
    
}

.container .main #home{
    height: 100vh;
    width: 100%;
    background-color: #8892b0;
}
