*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.container{
    display: flex;
    position: relative;
}

.container .navi{
    height: 100%;
    width: 300px;
    position: fixed;
    background-color: azure;
}

.container .main{
    width: 100%;
    margin-left: 300px; 
}

.container .navi nav ul .list{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    float:left;
    overflow-y: hidden;
    z-index: 1001;
    font-size: 3.5vh;
    padding-top: 15px;
    padding-bottom: 10px;
}

.container .navi nav ul .list a{
    background-color: blueviolet;
    text-decoration: none;
    padding: 5px;
    color: black;
}

.logo span{
    color: red;
}

.des p{
    font-size: 20px;
    text-align: center;
}

.container .navi nav ul .list .social a{
    align-items: center;
    position: absolute;
    left: 50%;
}
