@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --black: #0b0c10;
    --purple: rgba(12,0,50,0.9) ;
    --lightpurple: #190061;
    --darkblue: #240090;
    --blue: #3500d3;
    --darkgrey: #1f2833;
    --grey: #c5c6c7;
    --aqua: #66fcf1;
    --darkaqua: #45a29e;
    --lightblack: #282828;
    --white: #fff;
    --neonblue: #1F51FF;
}

/* -------------------------------------home--------------------------- */

#home{
    background-color: var(--black);
    height: 100vh;
    width: 100%;
    border: 1px solid pink;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple);
    border:1px solid var(--aqua);
    border-radius: 5px;
    height: 80px;
    position: fixed;
    width: 100%;
}
nav .logo{
    color: var(--aqua);
    margin: 10px 20px;
    font-size: 1.5em;
}
nav .logo span{
    color: var(--neonblue);
}
nav li{
    display: inline-block;
    position: relative;
}
nav li a{
    color: var(--aqua);
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px 20px;
}
.info{
    padding-top: 20%;
    border: 2px solid salmon;
    margin: 0;
    justify-content: center;
}
.info h3{
    margin: 20px 20px;
    color: var(--darkaqua);
}
.info h1{
    margin: 20px 20px;
    color: var(--darkaqua);
}
.info h1 span{
    color: var(--aqua);
}

/* ------------------about-------------------------------- */

#about{
    padding: 80px 0;
    background-color: var(--black);
    height: calc(100vh-80px);
    width: 100%;
    border: 2px solid pink;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image{
    flex-basis: 35%;
    
}
.image img{
    height: 300px;
    width: 300px;
}
.about{
    flex-basis: 60%;
    padding: 0 30px;
}
.about h1{
    color: var(--neonblue);
}
.about p{
    text-align: justify;
    color: var(--aqua);
}