*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.container{
    display: inline-block;
}
#navigation{
    width: 20vh;
    height: 100vh;
}
#main{
    height: 100vh;
    background-image: url(../img/back.jpg);
    width: 80vh;
    
}

#navigation nav ul .list .logo{
    
    align-items: center;
}
#navigation nav ul .list{
    height :100vh;
    width: 300px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    position: fixed;
    overflow-y: hidden;
    z-index: 1001;
    background-color: azure;
    font-size: 3.5vh;
    padding-top: 15px;
    padding-bottom: 10px;
}

#navigation nav ul .list a{
    text-decoration: none;
    padding: 5px;
    color: black;
    
    
}

#navigation nav ul .list a:hover{
    color: rgb(179, 77, 179);
}
.logo span{
    color: red;
}
.des p{
    font-size: 18px;
    text-align: center;
}
.socials {
    align-items: center;
    padding: 20px;
    padding-right: 15px;
    size: 10px;
}
 .socials p{
    font-size: 15px;
    text-align: center;
 }